# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\justi\Desktop\NJIT\NJIT CS 631 Data_MGT_Systems_Design\Bank Project\CS631-Bank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
