{% extends "emplayout.html" %}
{% block content %}

<h1> CUSTOMER</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Account Type</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for bank in banks %}
    <tr>
        <td><a href="/view/{{home.id}}">{{ home.Sell }}</a></td>
        <td>{{ home.List }}</td>
        <td>{{ home.Living }}</td>
        <td>{{ home.Rooms }}</td>
        <td>{{ home.Beds }}</td>
        <td>{{ home.Baths }}</td>
        <td>{{ home.Age }}</td>
        <td>{{ home.Acres }}</td>
        <td>{{ home.Taxes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}