{% extends "emplayout.html" %}
{% block content %}

<center>
    <h1>{{ title }}</h1>
    </center>
    <center>

        <div class="card" class="m-5 p-2">
            <h5 class="card-title">Name - {{ customer.CustomerName }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">City = {{ customer.City  }}</li>
                      <li class="list-group-item">State = {{ customer.State  }}</li>
                      <li class="list-group-item">ZipCode = {{ customer.ZipCode  }}</li>
                      <li class="list-group-item">Street Number = {{ customer.StreetNum  }}</li>
                      <li class="list-group-item">Login = {{ customer.CustomerLogin  }}</li>
                      <li class="list-group-item">Password = {{ customer.CustomerPassword  }}</li>


            </ul>
            <div class="card-body">
                <a href="/edit/{{ customer.Customer_SSN  }}" class="card-link btn btn-primary">edit</a>
                <form action="/delete/{{ customer.Customer_SSN }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
{% endblock %}