{% extends "emplayout.html" %}
{% block content %}
<form action="/customers/new" method="POST">
<div class="row">
            <div class="col">
            <label for="SSN">Customer SSN</label>
            <input id="SSN" type="number" class="form-control" placeholder="SSN"
                   name="Customer_SSN" value="">
        </div>
        <div class="col">
            <label for="List">City</label>
            <input id="List" type="text" class="form-control" placeholder="City"
                   name="City" value="">
        </div>
        <div class="col">
            <label for="State">State</label>
            <input id="State" type="text" class="form-control" placeholder="State" name="State"
                   value="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="zip">Zip Code</label>
            <input id="zip" type="number" class="form-control" placeholder="ZipCode" name="ZipCode">
        </div>
        <div class="col">
            <label for="StreetNum">Street Number</label>
            <input id="StreetNum" type="number" class="form-control" placeholder="Street Number" name="StreetNum">
        </div>
        <div class="col">
            <label for="Name">Customer Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Full Name"
                   name="CustomerName">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Login">Customer Login</label>
            <input id="Login" type="text" class="form-control" placeholder="User Name" name="CustomerLogin">
        </div>
        <div class="col">
            <label for="Pass">Customer Password</label>
            <input id="Pass" type="password" class="form-control" placeholder="Password" name="CustomerPassword">
        </div>
    </div>
        <div class="row">
        <div class="col">
            <label for="Acct_Num">Account Number</label>
            <input id="Acct_Num" type="text" class="form-control" placeholder="Account number" name="Account_Num">
        </div>
            <div class="col">
            <label for="Acct_type">Account Type</label>
            <input id="Acct_type" type="text" class="form-control" placeholder="Withdrawal" name="Account_Type">
        </div>
        <div class="col">
            <label for="Bal">Initial Balance</label>
            <input id="Bal" type="number" class="form-control" placeholder="Balance" name="Balance">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create new</button>

</form>

{% endblock %}