{% extends "emplayout.html" %}
{% block content %}

<h1>Employee View</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer_SSN</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">ZipCode</th>
        <th scope="col">StreetNumber</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}

    <tr>
        <td><a href="/view/{{customer.Customer_SSN}}">{{ customer.CustomerName }}</a></td>
         <td>{{ customer.Customer_SSN }}</td>
        <td>{{ customer.City }}</td>
        <td>{{ customer.State }}</td>
        <td>{{ customer.ZipCode }}</td>
        <td>{{ customer.StreetNum }}</td>
        <td>{{ customer.CustomerLogin }}</td>
        <td>{{ customer.CustomerPassword }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}