{% extends "custlayout.html" %}
{% block content %}

<h1>EMPLOYEE</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Transaction Code</th>
        <th scope="col">Transact Name</th>
        <th scope="col">Withdrawal</th>
        <th scope="col">Deposit</th>
         <th scope="col">Balance</th>

    </tr>
    </thead>
    <tbody>
    {% for banking_system in banking_system %}

    <tr>
        <td>{{ banking_system.Transact_Date }}</td>
        <td>{{ banking_system.Transact_Code }}</td>
        <td>{{ banking_system.Transact_Type }}</td>
        <td>{{ banking_system.Transact_withdrawal }}</td>
         <td>{{ banking_system.Transact_deposit }}</td>
        <td>{{ banking_system.Balance }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}