<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/signup.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/signup.css') }}">
    <title>Login | Final Web App</title>
    <head>

<body>

    <form class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="../static/styles/home_logo.svg" alt="" width="100" height="100">
            <h1 class="h3 mb-3 font-weight-normal font">Register</h1>
        </div>

        <div class="form-label-group">
            <input name="one" type="text" id="inputName" class="form-control" placeholder="Full Name"
                   required="" autofocus="">
            <label for="inputName">Full Name</label>
        </div>
        <div class="form-label-group">
            <input name="two" type="text" id="inputSSN" class="form-control" placeholder="SSN"
                   required="" autofocus="">
            <label for="inputName">SSN</label>
        </div>
                <div class="form-label-group">
            <input name="three" type="text" id="inputCity" class="form-control" placeholder="City"
                   required="" autofocus="">
            <label for="inputName">City</label>
        </div>
                <div class="form-label-group">
            <input name="four" type="text" id="inputState" class="form-control" placeholder="State"
                   required="" autofocus="">
            <label for="inputName">State</label>
        </div>
                <div class="form-label-group">
            <input name="five" type="text" id="inputZipCode" class="form-control" placeholder="ZipCode"
                   required="" autofocus="">
            <label for="inputName">ZipCode</label>
        </div>
                <div class="form-label-group">
            <input name="six" type="text" id="inputStreetNumber" class="form-control" placeholder="Street Number"
                   required="" autofocus="">
            <label for="inputName">Street Number</label>
        </div>
                <div class="form-label-group">
            <input name="seven" type="text" id="inputUserName" class="form-control" placeholder="User Name"
                   required="" autofocus="">
            <label for="inputName">User Name</label>
        </div>
        <div class="form-label-group">
            <input name="eight" type="password" id="inputPassword" class="form-control" placeholder="Password"
                   required="">
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3 font">
            <p>Have an account?
                <a href="/custlogin">Login here!</a>
            </p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" value="CREATE USER" type="submit" href="/send">Sign up</button>
        <p class="mt-5 mb-3 text-muted text-center">© Nikolett Muller and Justin Nietzer</p>
    </form>
</div>

</body>

</html>
